<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.14.9/cdn.min.js" defer></script>
  <link rel="shortcut icon" href="https://github.githubassets.com/assets/apple-touch-icon-120x120-92bd46d04241.png" type="image/png">
  <title>Alpine</title>
  <link rel="stylesheet" href="style.css">
</head>
<body x-data="{ name: '', age: null, file: null }">
  <form name="form_name" method="post" enctype="multipart/form-data" @submit.prevent="submitForm">
      <label for="name_input">Name:
        <input type="text" name="name" id="name_input" x-model="name">
      </label>
      <label for="age_input">Age:
        <input type="number" name="age" id="age_input" x-model.number="age">
      </label>
      <label for="file_input">File:
        <input type="file" name="file" id="file_input" x-model="file" required>
      </label>
      <button type="submit">Submit</button>
  </form>
  <template x-if="reaction">
    <div>
      <p x-text="reaction.name"></p>
      <p x-text="reaction.age"></p>
    </div>
  </template>
</body>
</html>